<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Stock+" />
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <link rel="manifest" href="manifest.json">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="dashboard">
        <h1>Dashboard</h1>
        <h1>Good Evening, <%= user %></h1>

        <section class="stats">
            <div class="statsCard">
                <h1>Documents</h1>
                <p><%= totalDocuments %></p>
            </div>
            <div class="statsCard">
                <h1>Total Stock</h1>
                <p><%= totalStock %></p>
            </div>





            <!-- Card 1
            <div class="projectCard">
                <div class="projectImg">
                    <img src="/images/icons/boxes-stacked-solid.svg" alt=""/>
                </div>
                <div class="projectText">
                    <h2>Total Items</h2>
                    <p>
                        <%= totalStock %>
                    </p>
                </div>
                <div class="btn">
                    <button><a href="https://www.pandjlive.com/about/p-and-j-live/">Learn More</a></button>
                </div>
            </div> -->
        </section>




       







    </main>
</body>
</html>