<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Stock+" />
    <link rel="stylesheet" href="styles/main.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <link rel="manifest" href="manifest.json">
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="dashboard">
        <h1>Dashboard</h1>
        <h1>Good Evening, <%= user %></h1>

        <section class="stats">
            <div class="statsCard">
                <div class="statsIcon">
                    <span class="material-symbols-outlined">docs</span>
                </div>
                <h1>Documents</h1>
                <p><%= totalDocuments %></p>
            </div>
            <div class="statsCard">
                <div class="statsIcon">
                    <span class="material-symbols-outlined">shelves</span>
                </div>
                <h1>Total Stock</h1>
                <p><%= totalStock %></p>
            </div>
            <div class="statsCard">
                <div class="statsIcon">
                    <span class="material-symbols-outlined">person</span>
                </div>
                <h1>Users</h1>
                <p><%= totalUsers %></p>
            </div>
        </section>




       







    </main>
</body>
</html>