<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="scripts/stock.js"></script>
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <script src="https://kit.fontawesome.com/e71e3c46fe.js" crossorigin="anonymous"></script>
    <title>Stock</title>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="stock">
          <h1 class="stockHead">Selected Stock Items</h1>
          <button onclick="window.print()">Print</button>
          <br>
            <% selectedItems.forEach(item => { %>
                <div class="label">
                    <h1 class="labelName"><%= item.productName %></h1>
                    <h1 class="labelPrice">£<%= item.price %></h1>
            
                    <h4 class="labelBrand"><%= item.brand %></h4>
                    <h4 class="labelCode"><%= item.productCode %></h4>
                    <h4>2025</h4>
                    <h4 class="labelBarcode"><%= item.barcode %></h4>
                </div>
            <% }) %>
    </main>
</body>
</html>