<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <script src="https://kit.fontawesome.com/e71e3c46fe.js" crossorigin="anonymous"></script>
    <title>Stock</title>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="stock">
        <h1>Stock</h1>
        <button popovertarget="createStock">Create </button>
            <div id="createStock" popover>
                <form action="/addStock" method="POST">
                    <input type="text" name="productName" placeholder="Product Name">
                    <input type="text" name="productCode" placeholder="Product Code">
                    <input type="text" name="Brand" placeholder="Brand">
                    <select name="Category">
                        <option value="Tools" name="News">Tools</option>
                        <option value="Sundries">Sundries</option>
                        <option value="Chemicals">Chemicals</option>
                        <option value="Hardware">Hardware</option>
                        <option value="Misc">Misc</option>
                    </select>
                    <input type="text" name="Qty" placeholder="Qty">
                    <input type="text" name="RRP" placeholder="RRP">
                    <input type="text" name="Price" placeholder="Price">
                    <input type="text" name="Barcode" placeholder="Barcode">

                    <button>Add</button>
                </form>
                
            </div>
        
            <table>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Qty</th>
                    <th>RRP</th>
                    <th>Price</th>
                    <th>Barcode</th>
                </tr>
            <% stock.forEach(function(stock) { %>
                    <tr>
                        <td><%= stock._id %></td>
                        <td><%= stock.productName %></td>
                        <td><%= stock.productCode %></td>
                        <td><%= stock.brand %></td>
                        <td><%= stock.category %></td>
                        <td><%= stock.qty %></td>
                        <td>£<%= stock.rrp %></td>
                        <td>£<%= stock.price %></td>
                        <td><span class="barcodeFont"><%= stock.barcode %></span></td>
                        <td><button>Edit</button></td>
                    </tr>
            <% }); %>
            </table>
    </main>
</body>
</html>