<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="icon" type="image/x-icon" href="images/logo/favicon.png">
    <title>Stock</title>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main id="stock">
        <h1>Stock</h1>
        <button popovertarget="createStock">Create </button>
            <div id="createStock" popover>
                <form action="/addStock" method="POST">
                    <input type="text" name="productName" placeholder="Product Name">
                    <input type="text" name="productCode" placeholder="Product Code">
                    <input type="text" name="Brand" placeholder="Brand">
                    <input type="text" name="Qty" placeholder="Qty">
                    <input type="text" name="RRP" placeholder="RRP">
                    <input type="text" name="Price" placeholder="Price">

                    <button>Add</button>
                </form>
                
            </div>
        

            <% stock.forEach(function(stock) { %>
                <table>
                    <tr>
                        <th>Product Name</th>
                        <th>Product Code</th>
                        <th>Brand</th>
                        <th>Qty</th>
                        <th>RRP</th>
                        <th>Price</th>
                    </tr>
                    <tr>
                        <td><%= stock.productName %></td>
                        <td><%= stock.productCode %></td>
                        <td><%= stock.brand %></td>
                        <td><%= stock.qty %></td>
                        <td><%= stock.rrp %></td>
                        <td><%= stock.price %></td>
                    </tr>
                </table>
            <% }); %>
    </main>
</body>
</html>