<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="manifest.json">
    <title>Document</title>
</head>
<body>
    <form class="modal-content animate" action="/signUp" method="POST">
        <div class="login-container">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
    
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>

          <label for="email"><b>Email</b></label>
          <input type="email" placeholder="Enter Email" name="email" required>
            
          <label for="accountType"><b>Account Type</b></label>
          <select name="accountType">
            <option value="Staff">Staff</option>
            <option value="Admin">Admin</option>
          </select>

          <button type="submit">Sign-Up</button>
        </div>
      </form>
            <table>
                <thead>
                    <tr>
                        <th>Username</th>
                        <th style="width:10vw">Email</th>
                        <th>Created</th>
                    </tr>
                </thead>
                <tbody class="tableScroll">
                    <% users.forEach(function(user) { %>
                        <tr>
                            <td><%= user.username %></td>
                            <td><%= user.email %></td>
                            <td><%= user.accountType %></td>
                            <td><%= user.created %></td>
                            <!-- <td>
                                <button class="delBtn" type="button" onclick="deleteItem('<%= stock.barcode %>')">
                                    <span class="material-symbols-outlined">delete</span>
                                </button> 
                            </td> -->
                        </tr>
                    <% }); %>
                </tbody>
            
            </table>
</body>
</html>